html body {
  align-content: center;
  background-image: url("../images/background-26.jpg");
  background-size: 1800px 1000px;
  background-attachment: fixed;
}

.jumbotron {
  background-image: url("../images/back_silver.png");
  opacity: 0.6;
  padding: 20px;
}

p.lead {
  padding-top: 10px;
}

#game-title {
  font-family: "Bungee", cursive;
  /* font-family: 'Kanit', sans-serif; */
}

.gamecontent {
  background-image: url("../images/back_silver_darker.png");
  border-radius: 8px;
  /* font-family: 'Arvo', serif; */
  font-family: "Exo 2", sans-serif;
  /* font-family: 'Source Code Pro', monospace; */
  margin-bottom: 30px;
}

#currentWord {
  font-size: 30px;
  letter-spacing: 10px;
}

.input {
  display: flex;
  align-content: ;
  justify-content: center;
}

.ios-visible {
  display: none;
}

.ios-instruction {
  display: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left-auto;
  margin-right: auto;
}

.f-text{
  background: #C0C5C9;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 8px;
}

.f-links {
  display: flex;
  background: #C0C5C9;
  border-radius: 20px;
}

.f-icon {
  width: 20px;
  height: 20px;
  margin: 5px;
}

@media only screen and (max-width: 640px) {
  .headpic {
    display: none;
  }

  #currentWord {
    width: 100%;
    font-size: 16px;
  }
}

@media only screen and (max-width: 840px) {
  .ios-visible {
    display: inherit;
    width: 1px;
    height: 25px;
  }
  .ios-instruction {
    display: inherit;
  }
  .footer {
    font-size: 0.8rem;
    position: fixed;
    bottom: -3px;
    margin:0;
    padding: 2px;
  }
  .f-icon {
    width: 15px;
    height: 15px;
    margin: 5px;
  }
}
