html body{
    align-content: center; 
    background-image: url("../images/background-26.jpg"); 
    background-size: 1800px 1000px; 
    background-attachment: fixed;
}

.jumbotron{
    background-image: url("../images/back_silver.png");
    opacity: .6;
    padding: 20px;
}

p.lead{
    padding-top:10px;
}

#game-title{
    font-family: 'Bungee', cursive;
    /* font-family: 'Kanit', sans-serif; */
}


.gamecontent{
    background-image: url("../images/back_silver_darker.png"); 
    border-radius: 8px;
    /* font-family: 'Arvo', serif; */
    font-family: 'Exo 2', sans-serif;
    /* font-family: 'Source Code Pro', monospace; */
    margin-bottom: 30px;
}

#currentWord{
    font-size: 40px;
    letter-spacing: 10px;
}

@media screen and (max-width: 640px) {
    .headpic{
      display: none;
    }
}